#jinja2: lstrip_blocks: 'True'
server {
  listen 443 ssl;
  listen [::]:443 ssl;
  ssl_certificate     {{ app_crt }};
  ssl_certificate_key {{ app_crt_key }};

  access_log /var/log/nginx/reverse-access.log;
  error_log /var/log/nginx/reverse-error.log;
  {% for app in app_names %}
  location /{{ app }} {
      proxy_pass http://localhost:{{ 8080+loop.index-1 }};
  }
  {% endfor %}
}

server {
    listen 80 default_server;

    access_log /var/log/nginx/reverse-access.log;
    error_log /var/log/nginx/reverse-error.log;
    {% for app in app_names %}
    location /{{ app }} {
        proxy_pass http://localhost:{{ 8080+loop.index-1 }};
    }
    {% endfor %}
}
