[Unit]
Description=Go App
After=network.target

[Service]
Type=simple
ExecStart=/opt/{{ item }} {{ db.user }} {{ db.pass }} {{ db.name }} {{ loop.index }} {{ db.host }}
Restart=always

[Install]
WantedBy=multi-user.target
