[Unit]
Description=Go App
After=network.target

[Service]
Type=simple
ExecStart=/opt/{{ item.name }} {{ db.user }} {{ db.pass }} {{ db.name }} {{ item.port }}
Restart=always

[Install]
WantedBy=multi-user.target
