#jinja2: lstrip_blocks: 'True'
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    server {
      listen 443 ssl;
      listen [::]:443 ssl;
      ssl_certificate     {{ nginx_cert_dir }}/{{ crt }};
      ssl_certificate_key {{ nginx_cert_dir }}/{{ crt_key }};

      access_log /var/log/nginx/reverse-access.log;
      error_log /var/log/nginx/reverse-error.log;
      {% for app in app_names %}
      location /{{ app }} {
          proxy_pass http://localhost:{{ 8080+loop.index-1 }};
      }
      {% endfor %}
    }

    server {
        listen 80 default_server;

        access_log /var/log/nginx/reverse-access.log;
        error_log /var/log/nginx/reverse-error.log;
        {% for app in app_names %}
        location /{{ app }} {
            proxy_pass http://localhost:{{ 8080+loop.index-1 }};
        }
        {% endfor %}
    }
}
